/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

ul {
    list-style-type: none;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#scheduleTable tbody tr:not(.group-header) td:first-child,
#scheduleTable tfoot tr td:first-child {
    text-align: right;
}

#scheduleTable thead, #staffTable thead {
    background-color: var(--color-green);
    color: white;
    font-weight: bold;
}
#scheduleTable tfoot, #staffTable tfoot {
    background-color: var(--color-yellow);
    color: black;
    font-weight: bold;
}

.main-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* Headers */
.group-header {
    cursor: pointer;
    background-color: var(--color-light-gray);
    font-weight: bold;
}

/* Collapsible rows are hidden */
.hidden {
    display: none;
}

/* Column Styles */
.fixed-width-names {
    width: 25%;
    text-align: left;
}

.fixed-width {
    width: 15%;
    text-align: center;
}

/* Colors & Themes */
:root {
    --color-light-gray: #f2f2f2;
    --color-mid-gray: #e0e0e0;
    --color-gray-text: #aaa;
    --color-red: #f44336;
    --color-blue: #2196F3;
    --color-green: #4CAF50;
    --color-yellow: #FFC107;
}

.cardiac {
    color: var(--color-red);
    font-weight: bold;
}

.charge {
    color: var(--color-blue);
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.optimized {
    display: block;
    background-color: var(--color-mid-gray);
    padding: 5px;
    margin-bottom: 5px;
}
/*
.schedule {
    width: 50%;
}*/

/* Shared styles for the button and dropdown */
.save-button, #formatSelect {
    padding: 10px;
    margin-top: 20px; /* Add some space between the table and the button */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none; /* Removes the default focus outline */
}

#formatSelect {
    appearance: none; /* This removes the default browser dropdown arrow in some browsers */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M5 8l5 5 5-5z" fill="white"/></svg>'); /* Arrow Icon */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Position the icon on the right */
    padding-right: 30px; /* Add some padding so text doesn't overlap the icon */
}

.save-button:hover, #formatSelect:hover {
    background-color: #45a049;
}
